.about-header{
    height: 100px;
    width: 100%;
    border: 2px solid red;
}
.bio{
    width: 100%;
    height: 100vh;
    background-image: url('../images/Tools.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
}
.journey{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.fit-journey{
   width: 50%;
   height: 100%;
}
.fit-journey img{
    height: 100%;   
}
.high-school{
    width: 100%;
}
.college{
    width: 100%;
}
.services{
    height: 100vh;
    width: 100vw;
}