.container{
    flex-direction: row;
    width: 100%;
}
.pt-training{
    width: 100vw;
    height: 100vh;
    background-image: url('../images/Amine.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}