body{
    overscroll-behavior: none;
}
.container{
    flex-direction: row;
    width: 100%;
}
.pt-info{
    color: red;
}
.btn{
    background-color: green
}
/* Personal training section*/
/* .pt-training{
    width: 100vw;
    height: 100vh;
    background-image: url('/Amine.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: center;
    display: flex;
    text-align: center;
    align-items: center;
    top: 0;
    -webkit-filter: brightness(1.);
}
.pt-about{
    height: 400px;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    
}
.pt-info{
    float: left;
    height: 100%;
    padding-left: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 500px;
    color: red;
}
.pt-info h1{
    font-size: 3.5vw;
    padding-right: 150px;
    float: left;
}
.pt-info p{
    text-align: center;
    margin: 0 auto;
    padding-right: 450px;
    padding-top: 15px;
    word-spacing: normal;
    font-size: 1.5vw;
    float: left;
}
.pt-button{
    padding-top: 40px;
    align-items: center;
    padding-right: 150px;
    float: left;
}
.pt-btn{
    padding: 12px 60px;
    font-size: 13px;
    text-align: center;
    color: '#fff';
    background-color: red;
    border-radius: 5px;
    letter-spacing: 1.5px;
    outline: none;
} */
/*skills Training section*/
.skills, .skills-training, .skills-content{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
.skills-training{
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
}
.slide{
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    
}
/* .slide1{
    background-image: url('../images/boxing.jpg'); 
} */
.skills-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.skills-content h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    color: white;
    margin-top: 150px;
    text-transform: uppercase;
}
.skills-content p{
    margin: 20px 200px 20px 200px;
    /* padding: 15px 150px 20px 150px; */
    color: white;
    font-size: 1rem;
    text-transform: uppercase
}
.skills-btn{
    padding: 12px 60px;
    font-size: 1.5rem;
    text-align: center;
    color: '#fff';
    background-color: red;
    border-radius: 5px;
    letter-spacing: 1.5px;
    outline: none;
}
.skills-btn:hover{
    cursor: pointer;
}
/*Fitness Quote*/
.fitness-quote{
    width: 100%;
    height: 200px;
    /* margin: 0 auto; */
    /* padding: 50px 400px 50px 400px; */
    display: flex;
    color: red;
    /* background-image: url('../images/Royal.png'); */
}
.fitness-quote h3{
    text-transform: uppercase;
    font-size: 1.7rem;
    font-style: italic;
}
.left-side{
    width: 20%;
    /* background-color: red; */
    height: 100%;
}
.middle{
    width: 60%;
    height: 100%;
    padding: 70px 90px 20px 90px;
}
.right-side{
    width: 20%;
    height: 100%;
    /* background-color: red; */
}
/*Group fitness section*/
.group-training{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
   
    /* background-color:  */
}
.group-info{
    width: 40%;
    height: 100%;
    margin: 0 auto;
    top: -50;
    
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 200px 10px 200px 10px;
}
.group-info h1{
    font-size: 2rem;
    text-transform: uppercase;
}
.group-info p{
    padding-top: 20px;
    font-style: italic;
    font-size: 20px;
    padding-bottom: 20px;
}
.group-btn{
    padding: 12px 60px;
    font-size: 1.5rem;
    text-align: center;
    color: '#fff';
    background-color: #FFBA49;
    border-radius: 5px;
    letter-spacing: 1.5px;
    outline: none;
}
.group-video{
    height: 100%;
    width: 60%;
    padding: 120px 50px 75px 50px;
}

.img-fluid{
    widows: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background-image: url('/Amine.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.col-lg{
    width: 60%;
}
.pt-info{
    padding-top: 300px;
    padding-right: 150px;
}
.pt-info h3{
    font-size: 3vw;
}
.pt-info p{
    font-size: 1.6vw;
     
}

.carousel img{
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
    max-width: none;
    background-size: cover;
}

