.contact{
    background-image: url('../images/boxing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
    align-items: center;
}
.contact h1{
    margin: 0 auto;
    padding-top: 300px;
}
.info-container{
    height: 800px;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.form-section{
    width: 70%;
    background-color: #BFD7EA;
}

.contact-form{
    height: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    border-right: 1px solid blue;
    padding: 3.5rem 3rem 2rem 3rem;
}
form{
    display: block;
}
.info-section{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    background-color: #BFD7EA;
}
.email-info{
    height: 33%;
    width: 100%;
    border-bottom: 1px solid red;
    margin: 0 auto;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    padding: 50px;
}
.email-icon{
    color: red;
    margin-bottom: 10px;
}
.email-info button{
    font-size: 1.5rem;
}
.phone-info{
    height: 33%;
    width: 100%;
    border-bottom: 1px solid rgb(10, 177, 10);
    margin: 0 auto;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    padding: 50px;
}
.phone-icon{
    color: green;
    margin-bottom: 10px;
}

.address-info{
    height: 34%;
    width: 100%;
    border-bottom: 1px solid purple;
    margin: 0 auto;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    padding: 50px;
}
.home-icon{
    color: orange;
}
