.footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    /* background-color: rgb(37, 36, 36); */
   
}
.social{
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.social ul{
    white-space: nowrap;
}
.social li{
    cursor: pointer;
    display: inline-block;
    padding: 10px 10px 5px 10px;
}
.youtube{
    height: 100%;
}
.insta{
    height: 100%;
}
.twitter{
    height: 100%;
}
.linkedin{
    height: 100%;
}
.youtube:hover,
.youtube:active{
    transform: scale(1.5);
}
.insta:hover,
.insta:active{
    transform: scale(1.5);
}
.twitter:hover,
.twitter:active{
    transform: scale(1.5);
}
.linkedin:hover,
.linkedin:active{
    transform: scale(1.5);
}
.company{
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    color: red;
}
.company h5{
    text-transform: uppercase;
}