*{

}
.header{
    display: flex;
    height: 100%;
    text-align: center;
    
}
.header-logo{
    width: 20%;
    height: 80px;
}
.header-logo img{
    max-width: 100%;
    max-height: 100%;
    margin-right: 0.5rem;
    padding-top: 20px;
}
.header-nav{
    width: 80%;
    height: 100%;
    display: inline-block;
    
}
.header-nav ul{
    font-size: 1.5rem;
    padding: 50px 25px 50px 150px;
    margin: 0 auto;
}
.header-nav li{
    text-decoration-color: none;
    display: inline-block;
    justify-content: space-evenly;
}
