*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.header{
    display: flex;
    height: 100%;
    text-align: center;
    max-height: 150px;
    width: 100%;
    position: absolute;
    z-index: 200;
}
.header-logo{
    width: 20%;
    height: 80px;
}
.header-logo img{
    max-width: 100%;
    max-height: 100%;
    margin-right: 0.5rem;
    padding-top: 20px;
}
.header-nav{
    width: 80%;
    height: 100%;
    display: inline-block;
}
.header-nav ul{
    font-size: 1.5rem;
    padding: 30px 25px 50px 150px;
    margin: 0 auto;
}
.header-nav li{
    text-decoration-color: none;
    display: inline-block;
    justify-content: space-between;
    
}
@media screen and (max-width: 960px){
    .header-nav{
        display: none;
    }
    .menu{
        float: right;
        width: 100%;
    }
}
@media screen and (min-width: 960px){
    .menu{
        display: none;
    }
}